body {
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
}

a {
  color: #ffa;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: rgb(68, 65, 65);
  padding: 0.6rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Kiwi Maru', serif;

}

header img {
  width: 100px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

nav li {
  font-size: 1.3rem;
  margin: 0 0.5rem;
}

.mainbody {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
main {
  flex-grow: 1;
  background-color: rgb(10, 40, 52);
}

header a {
  color: rgb(236, 233, 221);
  text-decoration: none;
}


.hero {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kiwi Maru', serif;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url('../img/hero1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  font-size: 4em;
  font-family: 'Kiwi Maru', serif;
  margin-top: 0;
  margin-bottom: 0.5em;
}


#containerlogo:hover #logodiv {
  opacity: 1;
  transform: rotate(360deg);
}

#logodiv {
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
  transition: transform .7s ease-in-out;
}

.form-group {
  padding: 10px;
}

.formularioheader {
  height: 20vh;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kiwi Maru', serif;
  text-align: center;
  color: rgb(218, 147, 81);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.fotosheader {
  height: 20vh;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kiwi Maru', serif;
  text-align: center;
  color: rgb(218, 147, 81);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.formulario {
  padding: 0;
  color: rgb(94, 53, 53);
  justify-content: center;
  align-items: center;
  width: 80vw;
  padding: 2rem;
  font-family: 'Kiwi Maru', serif;
  max-width: 700px;
  margin: auto;
  display: flex;
}

.btn-enviar {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  justify-content: center;
  width: 80%;
  margin-left: 3px
}

.contenido {
  display: flex;
  padding: 0.3rem;
  background-color: blanchedalmond;
  flex-wrap: wrap;
 }

.contenidofotos {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  background-color: blanchedalmond;
  flex-wrap: wrap;
}

.columnas {
 width: 25vw;
 height: 25vh;
 margin: 0.5rem;
 padding: 2rem;
 font-size: 2rem;
 color: white;
 display: flex;
 flex-grow: 1;
 flex: 1 400px;
 background-color: palevioletred;
 font-family: 'Kiwi Maru', serif;
 } 

.galeria {
    margin: 0.5rem;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-grow: 1;
}

.galeria img {
    margin: 10px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 489px;
}

 .fabrica {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url('../img/fabrica.jpg');
 }

 .cervezas {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/cervezas2.jpg');
 }

 .menu {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/menu.jpg');
 }

 .nosotros {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/nosotros.jpg');
 }

.nosotrosdiv {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  background-color: blanchedalmond;
  color: rgb(59, 41, 13);
  flex-wrap: wrap;
 }


.nosotrostext-inner:before {
  content: "";  
  float: right;
  max-width: 50%;
  margin: 0 0 1rem 1rem;
  background-color: blanchedalmond;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: calc(100% - 30vw - 20px);
  color: rgb(59, 41, 13);
  @media (min-width: 1200px) {
    height: calc(100% - 400px - 20px);
  }
} 

.iframemapa {
  float: right; 
  clear: right;
}

.nosotrostext-inner img {
  max-width: 100%;
  border: 10px solid;
  float: right;
  max-width: 50%;
  margin: 0 0 1rem 1rem;
}
 
.nosotrostext-inner iframe {
  max-width: 100%;
  float: center;
  margin: 0 0 1rem 1rem;
}

footer {
  background-color: rgb(68, 65, 65);
  color: #e0d4d4;
  padding: 1rem;
  display: flex;
  font-size: 1.1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-block {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
}

footer-redes {
  display: flex;
  padding: 1rem;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(75, 133, 130);
}

footer a {
  color: rgb(236, 233, 221);
  text-decoration: none;
}

footer-copy  {
  background-color: rgb(34, 36, 63);
  color: #ddd0d0;
  justify-content: center;
  display: flex;
  font-size: 1.1rem;
  }

/* Tablets */
@media only screen and (max-width: 800px) {
  .nosotrosdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    /*costados*/  
    padding: 0.3rem;
    background-color: blanchedalmond;
    color: rgb(59, 41, 13);
    flex-wrap: wrap;
   }

  .iframemapa {
    display: flex;
    justify-content: center;
    align-content: center;
    float:none;    
  }


}

/* Celulares */
@media only screen and (max-width: 600px) {
  main {
    background-color: lightblue;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;

  }

  .footer-block {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
  }

  .hero h1 {
    font-size: 3em;
    font-family: 'Kiwi Maru', serif;
    margin-top: 0;
    margin-bottom: 0.5em;
  }
 
  .nosotrostext-inner iframe {
    max-width: 100%;
    float: center;
    margin: 0 0 1rem 1rem;
  }
  
  .iframemapa {
    justify-content: center;
    float:none;    
  }

}